<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=82665357bf557a7f"/>
  </configSections>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=203.156.254.238;Connect Timeout=600;Initial Catalog=a0606134125;Persist Security Info=True;User ID=a0606134125;Password=17034456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="LocalSqlServer"/>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="upload" value="false" />
    <add key="uploadurl" value="http://www.mobifocus.net/UploadFile.aspx" />
  </appSettings>
</configuration>
